img {
    width: 250px;
    height: 500px;
    border: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.appeal {

}
body {
    background-color: rgb(155, 40, 139);
}

a {
    color: aliceblue;
}
a:hover {
    color: aliceblue;
}
