.after {
    color:red;
}
.after > li{
    list-style:none;
}
.after > li::after{
    content: " @ ";
}
.after > li::before{
    content: " * ";
}
.links > li > a:link {
color: brown;
}
.links > li > a:visited {
    color: navy;
}
.links > li > a:active {
    color: palegreen;
}
h1:hover {
    color: purple;
    font-size: 10px;
}
span:empty{
    background-color:gray ;
    width: 10px;
    height: 10px;
    display: inline-block;
}
/* .child > li:first-child{
    color: greenyellow;
    font-size: 30px;
} */
/* .child > li:last-child{
    color:orange;
    font-size: 40px;
} */
 .child > li:nth-child(even){
    color:rgb(21, 197, 159);
    font-size: 40px;
} 
.child > li:nth-child(odd){
    color:rgb(39, 5, 66);
    font-size: 50px;
} 
body {
    background-color: peru;
}